body{
	background-color: #D3D3D3;
}
.container-fluid{
	margin-top: 5vh;
	font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.col-sm-6{
	height: 31vh;
}

.col-sm-4{
	height: 59vh;
}

.well{
	height: 95%;       
	overflow: auto;
	background-color: white;
}

.textDisplay{
	height: 80%;
	overflow:auto;
	word-wrap: break-word;
}

textarea{
	resize: none;
}

#customerMsg{
	height: 30vh !important;
	max-height: 60%;
}

#myMsg{
	height: 75% !important;	
	
}

.myMsgContent{
	background-color:  #add8e6;
}

#myTrans{
	min-height: 75% !important;
	height: 75% !important;
}


.lang{
	float:right;
	text-align: center;
	margin-right: 2vw;
}

.btn {
	float:left;
}
